.Collapsible {
  margin: 19px;
  padding: 15px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #ffffff;
  // border: 1px solid #636cff;
  padding: 0px;
  border-radius: 15px 15px 15px 15px;
}
.Collapsible__trigger {
  background-color: #ffffff;
  margin-left: 15px;

  font-size: 25px !important;
  color: #2f2f2f;
  // font-weight: bold;
  font-size: large;
}
.Collapsible__trigger :hover{
  color: #636cff !important;
}
.Collapsible__contentOuter {
  background-color: #636cff;
  border-radius: 0px 0px 15px 15px;
  padding: 0px;
}
.Collapsible__contentInner {
  background-color: #636cff;
  color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}

.Collapsible p {
  color: #ffffff;
  font-size: 18px;
  border: 0px;
  padding: 20px 0px 5px 15px;
  font-weight: initial;
}
