.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 2%;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
  background: #ffffff;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
  font-weight: bolder;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
  font-weight: bolder;
  
}

.invoice-box table tr.heading td {
  background: #636cff;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #ffffff;
  margin-top: 120px;
}

.invoice-box table tr.details td {
  font-weight: bold;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
  font-weight: bolder;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
  font-weight: bolder;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}

.rtl table {
  text-align: right;
  font-weight: bolder;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}

.line {
  width: 112px;
  height: 80px;
  border-bottom: 1px solid green;
  -webkit-transform: translateY(-5px) translateX(-10px) rotate(-36deg);
  position: relative;
  top: -65px;
  left: -55px;
}

.main-logo {
  max-width: 50%;
  display: block;
  position: relative;
  // padding-bottom: 160px;
}

.btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #636cff;
  border: 2px solid #636cff;
  text-decoration: none;
}

.code {
  position: relative;
  align-items: center;
  display: block;
  margin-right: initial;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.certificate-title {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 25px;
  font-size: 35px;
  font-weight: bolder;
  justify-content: baseline;
  margin-bottom: 20px;
}
.printme {
	display: none;
}
@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}