.image{
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    margin-top: 2.5em;
    font-size: 35px;
    font-weight: bolder;
    justify-content: baseline;
    margin-bottom: 20px;
}