.App {
  margin-top: 1%;
  margin-bottom: 10%;
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  .login{

    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  
    .container{

      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #ffffff;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
      border-radius: 4px;
      position: relative;
      z-index: 2;
      padding: 30px 10px;
    }
  
    .right-side{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80%;
      background-color: #636cff;
      width: 100%;
      position: absolute;
      right: -34%;
      border-radius: 6px;
      z-index: 1;
      transition: all 400ms ease-in-out;
      cursor: pointer;
      box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
      margin-top: 5%;
      &.right{
        right: -40%;
        align-items: flex-end;
        &:hover{
          right: -45%;
          }
        }
  
        &.left{
          right: 40%;
          align-items: flex-start;
          &:hover{
            right: 45%;
          }
        }
  
        .text {
          font-size: 21px;
          font-weight: 500;
          color: #fff;
          margin-left: 3em;
          margin-right: 3em;
        }
      }
    }
  
  .btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #636cff;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
  
    &:hover {
      background-color: #636cff;
    }
  
    &:focus {
      outline: none;
    }
  }